.astronomical-objects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  justify-content: center;
}
.astronomical-object {
  width: 12vw;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(145, 68, 180);
}